<div class="users-container">
  <h2>User List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">ID Number</th>
        <th scope="col">Phone</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.idNumber }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.role }}</td>
        <td>
          <mat-icon class="fs-6" role="button" (click)="selectUser(user.username)">edit</mat-icon>
          <mat-icon class="fs-6" role="button" (click)="delete(user.username)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
